.polypicker-container{display:inline-block;position: relative;border:solid 1px #eee;border-bottom:none;min-height:30px;width:300px;font-family: sans-serif;font-size:0.9em;}
.polypicker-container.close{border-bottom:solid 1px #eee;}
.polypicker-container .polypicker-selected{display:flex;gap:0.5em;padding:3px;flex-wrap: wrap;cursor: text;min-height:30px;align-items: start;}
.polypicker-container .polypicker-selected>div{border-radius:10px;background:lightblue;display:flex;gap:0.5em;padding:0 0.5em;cursor:default;color:#fff;align-items: center;}
.polypicker-container .polypicker-selected>div>span{cursor: pointer;}
.polypicker-container .polypicker-list{position:absolute;top:100%;left:0;width:100%;box-sizing: border-box;box-shadow: 0 3px 3px rgba(0, 0, 0, .5);border:solid 1px #eee;}
.polypicker-container.close .polypicker-list{display:none;}
.polypicker-container .polypicker-list>div{padding:0.5em 1em;cursor: pointer;}
.polypicker-container .polypicker-list>div.selected{display:none;}
.polypicker-container .polypicker-list>div:hover{background:#eaeaea;}
.polypicker-container .polypicker-selected>div.placeholder,.polypicker-container .polypicker-list>div.empty{pointer-events: none;color:#aaa;font-style: italic;background:none;}